#composer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

#composer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(255, 232, 185);
  width: 50%;
  border-radius: 5px;
  gap: 10px;
}

#composer-form-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: black;
}

#composer-form input,
#composer-form textarea {
  width: 100%;
}

#composer-form textarea {
  resize: vertical;
}
