#home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 0;
  height: 100%;
}

#home .home-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

#home .home-header h1 {
  font-size: 40px;
  text-align: left;
}

#home .options {
  display: flex;
  width: 100%;
  margin-bottom: -10px;
  padding: 0 10px;
}

.options button {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  border: none;
  border-radius: 3px 3px 0 0;
  width: 80px;
  height: 35px;
  color: white;
  font-weight: 700;
  z-index: 0;
  transition: 0.2s;
  transform: rotate(-2deg);
}

.options button:hover {
  translate: 0 -6px;
}

#home .buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
  gap: -10px;
  background-color: rgb(255, 232, 185);
  border-radius: 5px 5px 0 0;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#home .buttons::-webkit-scrollbar {
  display: none;
}

#home .buttons .casefile-link {
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 10px 10px 15px;
  background-color: rgb(255, 232, 185);
  border: none;
  display: flex;
  flex-direction: column;
  border-radius: 5px 5px 0 0;
  transition: 0.2s;
}

#home .buttons .casefile-link:hover {
  translate: 0 -10px;
}
