/* Post.css */

.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 400px;
    /* Set your desired maximum width */
    margin-left: auto;
    margin-right: auto;
}

.post-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.post-desc {
    margin-bottom: 10px;
}

.post-created-at {
    font-style: italic;
    color: #666;
    margin-bottom: 10px;
}

.post-actions {
    margin-bottom: 10px;
}

.post-actions button {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.post-actions .del {
    background-color: rgba(190, 39, 39, 0.822);
    color: #fff;
    padding: 8px 12px;
    margin: 0px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.post-actions button:first-child:hover {
    background-color: #44af49;
}

.post-comments {
    margin-top: 20px;
}

.post-comments h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.post-comments ul {
    list-style: none;
    padding: 0;
}

.post-comments li {
    margin-bottom: 5px;
}

.post-comments form {
    display: flex;
    margin-top: 10px;
}

.post-comments input {
    flex-grow: 1;
    padding: 8px;
    margin-right: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.post-comments button {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.post-comments button:hover {
    background-color: #45a049;
}