.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sighting-list {
  /* border-style: solid;
  border-width: 1px; */
  list-style-type: none;
  padding: 0;
  text-align: left;
  height: 500px;
  overflow: scroll;
  scrollbar-width: none;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
